<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><%= @package[:full_name] %></title>
</head>
<body>
  <form>
    <input type="search" name="q" value="<%= h @params['q'] %>">
    <input type="submit" value="検索">
  </form>
  <section>
    <ul>
      <% @movies.each do |movie| %>
        <li>
          <a href="<%= movie[:href] %>"><%= h movie[:name] %></a><br>
          path: <%= h movie[:path] %><br>
          size: <%= h movie[:binary_size] %> (<%= h movie[:size].commaize %>b)<br>
          width: <%= h movie[:width].commaize %>px<br>
          height: <%= h movie[:height].commaize %>px<br>
          duration: <%= h '%0.2fsec.'%[movie[:duration]] %><br>
        </li>
      <% end %>
    </ul>
  </section>
</body>
</html>